body{
    margin: 0;
    padding: 0;
    font-family: Dancing Script;
    background-color: beige;
}
#navbar{
    height: auto;
    position: sticky;
    background: linear-gradient(to right,#9b5de5,#f15bb5 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width:100vw;
}
#logo{
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
}
.leftNav{
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s ease;
}
.leftNav:hover{
   transform: translateY(-10px);
   transition: 0.2s;
}
.leftNav>a{
    font-size: xx-large;
    color: white 2px solid;
}
.rightNav{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* .rightNav>img{
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
} */
#home>img{
    height: 20px;
    padding: 10px;
}
#home>a{
    padding:10px 10px 10px 0;
    font-size: 1rem;
}
#home{
    background-color: white;
    color: #9b5de5;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#assignment>img{
    height: 20px;
    padding: 10px;
}
#assignment>a{
    padding:10px 10px 10px 0;
    font-size: 1rem;
}
#assignment:hover{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
    
}
#assignment{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}
#profile>img{
    height: 20px;
    padding: 10px;
}
#profile>a{
    padding:10px 10px 10px 0;
    font-size: 1rem;
}
#profile:hover{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
}
#profile{
   padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}
#welcomeHeader{
    margin:5vmin 10vmin;
    background: linear-gradient(to right,#9b5de5,#f15bb5 );
    height: auto;
    color: white;
    border-radius: 30px;
    padding: 2px 2px 20px 10px;
}
#sparkle{
    animation: fade 2s infinite alternate;
    width: auto;
 
}
@keyframes fade{
    0%{
        opacity: 2;
    }
    100%{
        opacity: 0.2;
    }
}
#text{
    display: flex;
    flex-wrap: wrap;

}
#welcomeHeader>h1{
    margin-top: 0px;
     width: auto;
}
/* #welcomeHeader>h{
    margin-top: 2px;
} */
#book{
     margin-left: auto;
     opacity: 0.4;
}
@media screen and (min-width:300px) {
    #text>h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:950px) {
   #home >a{
        display: none;
   }
   #assignment >a{
        display: none;
   }
   #profile >a{
        display: none;
   }
   .rightNav{
        width: 45vw;
   }
   .leftNav>a{
        font-size: x-large;
   }
}
#taskRemain{
    color: yellow;
}
#welcomeHeader>span{
    font-size:1.6rem;
}
.reportingboxes{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: auto;
    /* width: 100vw; */
    /* flex-wrap: wrap; */
}
.boxes{
    border: gray solid 3px;
    width: 20vw;
    text-align: center;
    background-color: aliceblue;
    border-radius: 40px;
    margin: 0px 20px;
    font-size: medium;
    padding: 0 0 3px 0;
    transition: transform 0.3s ease;
    flex-wrap: wrap;
}

.boxes:hover{
    transform: translateY(-20px);
   transition: 0.1s;
}
@media screen and (max-width:850px) {
 .reportingboxes{
    flex-direction: column;
    align-items: center;
    gap: 30px;
 }
 .boxes{
    width: 40vw;
  
 }
}
.myAssHeader{
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    /* margin: 40px 80px; */
    flex-wrap: wrap;
}
#trophy{
    height: 40px;
}
.LeftHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17vw;
    flex-wrap: wrap;
    margin: 20px;
}
.RightHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8vw;
    flex-wrap: wrap;
    margin: 50px;
}
#Arrow{
    height: 30px;
}
.RightHeader>h4{
    color: rgb(75, 74, 74);
}